@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body {
   font-family: 'Syne', sans-serif !important;
   margin: 0 auto;
   padding: 0;
   max-width: 1440px;
}


#container {
   justify-content: center;
   display: flex;

}


nav {   height: 80px;

}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* Logo */

.custom-logo {
   padding-left: 37px;
}

/* Disposition du menu */

/* Apparence du menu */

.menu-item {
   display: inline-flex;
}

li.menu-item.current-menu-item {
align-items: center;
}


li.menu-item.current-menu-item a.rencontrer {
   font-weight: bold;
}
/* Bouton Nous rencontrer */

.rencontrer a    {
   color: black !important;
   text-decoration: none !important;/*enlever la ligne sous le lien*/ 
   padding: 32px;
   width: 236px;
   text-align: center;
 }
 
.rencontrer a:hover {
   color: black;
   font-weight: bold;   
 }

/* Bouton Commander */

.commande a {
   color: white !important;
   text-decoration: none !important;/*enlever la ligne sous le lien*/
   background-color: #E0B9B4;
   padding: 32px;
   width: 236px;
   text-align: center;
}

.commande a:hover {
   background-color: #C02E44;
   color: white !important;
}

.commande a:visited {
   color: white !important;
}

/*======================== 1. Page accueil   ==========================*/

   /* Canette */

.canette-feuilles {
   background-color: #ECE2DA;
   /*border-radius: 0px 0px 500px 500px / 0px 0px 80px 80px;*/
   border-bottom-right-radius: 500px 80px;
   border-bottom-left-radius: 500px 80px;
   box-shadow: 0px 10px #E3D9D0;
   display: flex;
}

.canette {
   position: relative;
   z-index: 1;
}

.feuille1 {
   position: relative;
   left: 220px;
   bottom: -100px;
   z-index: 0;
}

.feuille2{
   position: relative;
   right: 220px;
   bottom: -100px;
   z-index: 0;
}

   /* Energies plantes */

.energies-plantes-p{

}

   /* Quatre images */

.quatre-images {
   background-color: #ECE2DA;
   border-bottom-right-radius: 500px 20px;
   border-bottom-left-radius: 500px 20px;
}

.deux-images {
   padding-left: 80px;
   padding-right: 80px;
}
/* Bouton commander sous les quatre images accueil */

.wp-block-button__link { 
	transition-property: background-color; /* Active la transition sur background-color */
}

.wp-block-button__link:hover { 
	background:#C02E44 !important; 
}

/* Trois p */

.trois-p {
   padding-left: 50px;
   padding-right: 50px;

}

/* FOOTER */

footer a {
   display: block;
   text-align: center;
   font-size: 20px;
   color: #313332;
   text-decoration: none !important;
   padding: 20px;
   height: 60px;
}

footer a:hover {
   font-weight: bold;
}

/*=========================== 2. Page nous rencontrer ===================================*/

   /* Nous rencontrer */

.entry-content {
   width: 1440px;
}

.nous-rencontrer {
   background-color: #ECE2DA;
   border-radius: 0px 0px 500px 500px / 0px 0px 80px 80px;
}

.nous-rencontrer-fleur-verte {
   position: relative;
   top: -80px;
   right: -200px;
}

   /* L'équipe */

.lequipe-cadre {


}

.lequipe-branche-verte {
   position: relative;
   top: 35px;
   width: 191px;
}
   /* Nous contacter */

.nous-contacter {
   background-color: #ECE2DA;
   text-align: center;
   display: flex;
}

/* Contact-form-7 */

.nous-contacter-form {
   font-size: 25px;
   display: block;
   text-align: left;
}

.nous-contacter-form h3 {
   padding-top: 22px;
   padding-bottom: 13px;
}

.nous-contacter-form .nom, .email {
   width: 383px;
   height: 73px;
}


.nous-contacter-form textarea {
   width: 383px;
   height: 237px;
}

.nous-contacter-form .nom, .email, textarea {
   border-style: none;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
   border-radius: 7px;
   font-size: 25px;
   text-align: left;
   color: grey;
}

/* Bouton envoyer formulaire 1 */
/*.envoyer-bouton {
   display: block;
   margin: 0 auto;
   width: 198px;
   height: 55px;
   font-size: 24px;
   background-color: #E0B9B4;
   color: white;
}

.envoyer-bouton:hover {
   background-color: #C02E44;
}
*/

/* Petite feuille verte */
.nous-contacter-petite-feuille {
   position: relative;
   top: -150px;
   right: 220px;
   z-index: 0;
}


/* Bouton envoyer */
.envoyer-bouton {
 border: none;
}

/* Nous rencontrer canette footer */
.nous-rencontrer-canette-footer {
   background-color: #ECE2DA;
}

/*=============================  3. Page Commander ====================================*/

.wraper-commander {
   background-color: #3D9448;
   justify-content: center; 
   color: white;
}

.quatre-images-commander {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

/* 4 images on top */

.top-form {
display: flex;
flex-direction: row;
justify-content: center;
}

.top-form img {
   width: 192px;
   padding: 10px;
}


.image-top {

}

.bouts {
   display: flex;
   justify-content: center ;
   margin: 0 auto;

}

.bout {


align-items: center;
padding-left: 5px;

}


.bout-image-top {
   width: 80px;
   height: 56px;
   background-color: #E0B9B4;
   color: white;
}

.ok-image-top {
   width: 100px;
   height: 56px;
   background-color: #E0B9B4;
   color: white;

}


.trait1 {
   border: 1px solid white;
   width: 860px;
}

.titre-votre-commande {
   width: 800px;
}


/* Formulaire Gauche et Droite */

.wraper-form {
   display: flex;
   justify-content: center;
}

/* wrapper left*/
.left-form {
   padding: 20px;
} 


label { 
   font-size: 20px;

}

/* wraper right */
.right-form {
   padding: 20px;
}

.left-form h2, .right-form h2 {
   font-size: 30px;
   padding-top: 20px;
   padding-bottom: 25px;
}

.nom-left-form, .prenom-left-form, .email-left-form {
   display: block;
   width: 383px;
   height: 71px;
   border-style: none;
   border-radius: 7px; 
   font-size: 25px;
   
}

.adress-right-form, .code-right-form, .ville-right-form {
   display: block;
   width: 383px;
   height: 71px;
   border: none;
   border-radius: 7px;
   font-size: 25px;
   padding-bottom: 20px;
}


.bouton-form {
   display: flex;
   justify-content: center;

}

.bouton-form-bout {
   display: block;
   margin: 0 auto;
   width: 198px;
   height: 55px;
   font-size: 24px;
   background-color: #E0B9B4;
   color: white;
}