@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
/* Import de la font syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}
/* On applique un gris plus clair sur les paragraphes */
p {
   color: #313332;
}
/* La classe 'hover-effect' permettra de créer un effet de zoom quand l'on passera la souris par dessus les elements images enfants  
.hover-effect img {
   transition: all 0.33s ease-in-out;
   transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
   transition: all 0.33s ease-in-out;
   transform: scale(1.05) translateY(-10px);
}
*/
/* HEADER PLANTY */

#site-header.header-planty {
   
}

/* Apparence du menu*/

li.menu-item.current-menu-item a.rencontrer {
   font-weight: bold;
}

.rencontrer a {
   color: black !important;
   display: inline-block;
   padding: 10px 35px;
   text-align: center;
   text-decoration: none !important;/*enlever la ligne sous le lien*/  
 }
 
.rencontrer a:hover {
   color: black;
   font-weight: bold;   
 }



/* Bouton Commander */

.commande a:link {
   color: white !important;
   display: inline-block;
   padding: 10px 35px;
   text-align: center; 
   text-decoration: none !important;/*enlever la ligne sous le lien*/
   background-color: #E0B9B4;
   border-radius: 5px;
}

.commande a:hover {
   background-color: #C02E44;
   color: white !important;
}

.commande a:visited {
   color: white !important;
}

/* FOOTER */

.footer-mentions a {
   display: block;
   text-align: center;
   color: #313332;
   text-decoration: none !important;
}

.footer-mentions a:hover {
   font-weight: bold;
}
